body{
    background-color: rosybrown;
}
.grid{
    width: 600px;
    height: 500px;
    margin: 0 auto;
    background-color: burlywood;
    padding: 10px 50px 50px 50px 50px;
    border-radius: 50px;
    border: 2px solid black;
    box-shadow: 10px 15px 5px black;
}


.grid h1{
    text-align: center;
    font-size: 50px;
    font-family: fantasy;
    padding: 2px 0px;
}
.grid #question{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    color: black;
}
buttons{
    margin-top: 30px;

}
#btn0 #btn1, #btn2, #btn3{
    background-color: black;
    width: 250px;
    font-size: 50px;
    color: white;
    border: 1px solid beige;
    border-radius: 50px;
    margin: 10px 40px 10px 0px;
    padding: 10px 10px;
}
#progress{
    color: black;
    font-size: 80px;

}
#btn0:hover #btn1:hover, #btn2:hover, #btn3:hover{
cursor: pointer;
background-color: gray;
}    
#btn0:focus #btn1:focus, #btn2:focus, #btn3:focus{
    outline: 0;
}
